
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    /* font */
  --heading-font: "Noto Sans JP";
  --paragraph-font: 'Noto Sans JP';
  --text-color: #3D484F
}


/* Header */
.site-head{
    padding: 12px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    
}
.home-title{
    font-size: 64px;
    font-family: var(--heading-font);
    color: var(--text-color);
    position: relative;
    left: 200px;
    bottom: 150px;
}
.home-grid{
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
    position: relative;
    top: 64px;
    margin-left: 400px;

}
.logo{
    width: 148px;
    height: 148px;
    display: inline-block;
    position: relative;

}

.logo-img{
    width: 146px;
    height: 146px;
    position: absolute;
    background-image: url("Casual Gamer Logo.png");
    background-size: 145px;
    background-position: 0px;
    transition: all ease-in-out 0.25s;
}
.logo-img:hover{

    width: 146px;
    height: 146px;
    position: absolute;
    
    background-image: url("Casual Gamer Logo - Gold.png");
    background-size: 145px;
    background-position: 0px;
    transition: all ease-in-out 0.25s;
}

.body{
    
    background-color: #E6F2F2;
    max-width: 1600px;
}

.pokemon-post{
    position: relative;
    align-self: left;
    grid-column: 1/10;
    grid-row: 1/3;
    transition: all ease-in-out 0.25s;
    left: -64px;
}

.post-title{
    color: #3D484F;
    text-align: left;
    font-size: 64px;
    position: relative;
    left: 316px;
    top: -332px;
    width: auto;
}

.post-text{
    color: #3D484F;
    text-align: left;
    font-size: 64px;
    position: relative;
    left: 316px;
    top: -380px;
    width: auto;
    height: auto;
}

.gameplay-text{
    position: relative;
    grid-column: 1/2;
    grid-row: 3/3;
    transition: all ease-in-out 0.25s;
}

.graphics-text{
    position: relative;
    grid-column: 2/3;
    grid-row: 3/3;
    transition: all ease-in-out 0.25s;
}

.music-text{
    position: relative;
    grid-column: 3/4;
    grid-row: 3/3;
    transition: all ease-in-out 0.25s;
}

.review-title{
    color: #3D484F;
    text-align: left;
    font-size: 32px;
    position: relative;
    top: -215px;
}

.text-align{
    color: #3D484F;
    text-align: left;
    font-size: 20px;
    position: relative;
    top: -235px;
}

.card-img{
    margin: left 0%;;
    width: 276px;
    height: 276px;
    box-shadow: 0px 0px 25px 0.5px #3D484F;
}

.overall-review{
    
    position: relative;
    width: auto;
    grid-column: 1/10;
    grid-row: 6/8;
    top: -264px;
}

.overall-review-title{

    color: #3D484F;
    text-align: center;
    font-size: 32px;
    position: relative;
    top: 64px;
    left: -32px;
}

.overall-text-align{
    
    width: 75%;
    color: #3D484F;
    text-align: left;
    font-size: 20px;
    position: relative;
    top: 64px;
    left: 116px;
}

.collection-img{

    position: relative;
    left: 264px;
    top: 90px;
    width: 50%;
    box-shadow: 0px 0px 25px 0.5px #3D484F;
    margin: 8px;
}

.gameplay-text, .graphics-text, .music-text{
    width: 75%;
    height: 125%;
}

.footer{
    position: relative;
    text-align: center;
    left: 130px;
}



@media screen and (max-width: 400px) {

.home-grid{
    display: block;
    height: 1000px;
}
#background{
    display: none;
}
.graphics-text, .gameplay-text, .music-text{
    display: none;
    margin: 50px;
    width: 50%;
}

}